

  <div class="center jumbotron">
    <h1>勤怠システム</h1>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
    <div class="signup">
      <%= link_to "アカウント作成はこちらから", new_user_path %>
    </div>
  </div>
  
         
              