<% provide(:title, '勤怠表示') %>

<%= link_to "勤怠編集", edit_works_path, class: 'btn btn-default'%>

<div class="work">
    
    <table id="work1" class="table-bordered table-striped">
        <tr>
            <td>qq </td>
            <td>qq </td>
            <td>qq </td>
            <td>qq </td>
            <td>qq </td>
        </tr>
    </table>  
    
    
     
　　 <table id="work2" class="table-bordered table-striped">
        <tr>
            <td>qq </td>
            <td>qq </td>
            <td>qq </td>
            <td>qq </td>
            <td>qq </td>
        </tr>
    </table>      
    
    
</div>



